'''Variables used by Dark Souls backup script.'''

source = 'C:\\Users\\YOUR_NAME\\AppData\\Roaming\\DarkSoulsIII\\YOUR_ID\\DS30000.sl2'		# Your Dark Souls III save data location.
dest = 'C:\\Documents\\DS3 Backup\\'								# Where you want to back your data up to.
maxSave = 10											# Number of rotating save slots.
interval = 10											# Time between backups, in minutes.
gamePath = 'C:\\Program Files\\Steam\\steamapps\\common\\DARK SOULS III\\Game\\DarkSoulsIII.exe'# Path to game executable file.

